h2 {
  padding: 3em;
  color: rgba(235, 93, 164, 0.993);
  text-align: center;
}
h3 {
  color: white;
  font-size: 1em;
  margin: 5em;
  padding: 2em;
}

.Card {
  background-color: rgb(36, 36, 36);
  height: 80vh;
  margin: 4em;
  border-radius: 2em;
}
